{% extends 'base.html' %}
{% block title %} Ravenpi {% endblock %}

{% block content%}
  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Who Am I?</h3>
    {% load static %}
    <img src="{% static "skelator.jpg" %}" class="img-responsive img-circle margin" style="display:inline" alt="skelator" width="350" height="350">
    <h3>I'm a Human</h3>
    <h2>yes</h2>
  </div>

  <!-- Second Container -->
  <div class="container-fluid bg-2 text-center">
    <h3 class="margin">What Am I?</h3>
    <p>Human. </p>
    <a href="#" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-search"></span> Search
    </a>
  </div>

  <!-- Third Container (Grid) -->
  <div class="container-fluid bg-3 text-center">    
    <h3 class="margin">Where To Find Me?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <p>Github</p>
        <a href="https://github.com/AustinAlloway"><img src="{% static "GitHub.png" %}" style="width:50%" alt="Image"></a>
      </div>
      <div class="col-sm-4"> 
        <p>Linkdin</p>
        <a href="https://www.linkedin.com/in/austin-alloway-178065165/"><img src="{% static "linkedin.png" %}" style="width:50%" alt="Image"></a>
      </div>
      <div class="col-sm-4"> 
        <p>Website</p>
        <a href=""><img src="{% static "ravenpi.png" %}" style="width:50%" alt="Image"></a>
      </div>
    </div>
  </div>
{% endblock %}


